
body {
    background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    font-size: xx-large;
  }
  #one {
    border: whitesmoke solid 2px;
    border-radius: 50px;
    height: 200px;
    width: 800px;
    background-color: white;
  }
  #two {
    border: whitesmoke solid 2px;
    border-radius: 50px;
    height: 200px;
    width: 800px;
    background-color: orangered;
  }
  #three {
    border: whitesmoke solid 2px;
    border-radius: 50px;
    height: 200px;
    width: 800px;
    background-color: gold;
  }
  #four {
    border: whitesmoke solid 2px;
    border-radius: 50px;
    height: 200px;
    width: 800px;
    background-color: red;
  }
  li {
    display: grid;
    justify-content: center;
  }
  #header {
    display: grid;
    justify-content: center;
  }
  #header2 {
    display: grid;
    justify-content: center;
  }